.bar {
   background: #10101e; 
   border-right: 1px solid #2d2f48;
   padding: 8px;
 }
 
 .hour {
   font-family: "hermit";
   font-weight: 600;
   font-size: 44px;
   color: #cbd5f6;
   /* margin-right: 2px; */
 }
 .minute {
   font-family: "hermit";
   font-weight: 600;
   font-size: 44px;
   margin-top: -14px;
   color: #94B1FF;
 }
 .timethingy {
   font-family: "hermit";
   font-weight: 500;
   margin-top: -22px;
   font-size: 22px;
   color: #DA96FF;
 }
 
 progressbar trough {
   background-color: #2d2f48;
   min-width: 12px;
   border-radius: 4px;
 }
 progress {
   min-width: 12px;
   border-radius: 4px;
   background-color: #DA96FF;
 }
 
 .name {
   color: #94b1ff;
   font-size: 30px;
   font-weight: 200;
   font-family: "baro linethree";
 }
 
 .controls {
   margin-bottom: 8px;
 }
 .button1playing, .button1paused {
   min-width: 54px;
   min-height: 54px;
   /* background: #66b4d8; */
 }
 .button1paused {
   background-image: url("../images/play.png");
 }
 .button1playing {
   background-image: url("../images/pause.png");
 }
 .button2 {
   min-width: 54px;
   min-height: 54px;
   /* background: #7ebb78; */
   background-image: url("../images/skip.png");
 }
 .button1paused, .button1playing, .button2 {
   opacity: 0.85;
   transition: opacity 0.1s;
 }
 .button1paused:hover, .button1playing:hover, .button2:hover {
   opacity: 1;
 }
