* {
    xbg:    #10101e;
    xfg:    #cbd5f6;
    x0:     #1c1c31;
    x1:     #da96ff;
    x2:     #93e5e0;
    x3:     #ff8dd7;
    x4:     #da96ff;
    x5:     #ff8dd7;
    x6:     #94b1ff;
    x7:     #cbd5f6;
    x8:     #3f425f;
}
